:root {
  --red: hsl(0, 65%, 65%);
  --gold: hsl(40, 60%, 60%);
  --green: hsl(140, 40%, 60%);
  --blue: hsl(210, 50%, 65%);
  --lavender: hsl(260, 45%, 70%);
  --grey: hsl(0, 0%, 60%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 8fr;
  min-height: 100dvh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  font-weight: 100;
  background-color: #f9f9f9;
}

#app-name,
h2 {
  font-style: italic;
  border-bottom: 1px solid black;
}

#app-name {
  font-size: 4em;
}

aside {
  max-width: 300px;
  box-shadow: 12px 0 30px rgba(0, 0, 0, 0.15);
  padding: 30px;
  position: relative;
  z-index: 10;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100dvh;
  gap: 20px;
}

aside > ul {
  padding-left: 30px;
  list-style-type: "- ";
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 100px;
}

#new-project-btn,
#new-todo-btn {
  background-color: transparent;
  font-size: 1.2rem;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}

#new-project-btn:hover,
#new-todo-btn:hover {
  font-size: 1.3rem;
  text-decoration: underline;
}

#new-todo-btn {
  padding: 10px 20px;
  align-self: flex-end;
}

.project {
  display: flex;
  align-items: center;
  width: 95%;
  list-style: none;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-project-indicator::before,
.project::before {
  display: inline-block;
  content: "";
  height: 0.75rem;
  width: 0.75rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

.delete-icon {
  display: inline-flex;
}

.project .delete-icon {
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
  height: 1.5rem;
}

.project:hover .delete-icon {
  opacity: 1;
  visibility: visible;
}

.red.task-project-indicator::before,
.color-btn.red,
.project.red::before {
  background-color: var(--red);
  border-color: var(--red);
}

.gold.task-project-indicator::before,
.color-btn.gold,
.project.gold::before {
  background-color: var(--gold);
  border-color: var(--gold);
}

.green.task-project-indicator::before,
.color-btn.green,
.project.green::before {
  background-color: var(--green);
  border-color: var(--green);
}

.blue.task-project-indicator::before,
.color-btn.blue,
.project.blue::before {
  background-color: var(--blue);
  border-color: var(--blue);
}

.lavender.task-project-indicator::before,
.color-btn.lavender,
.project.lavender::before {
  background-color: var(--lavender);
  border-color: var(--lavender);
}

.grey.task-project-indicator::before,
.color-btn.grey,
.project.grey::before {
  background-color: var(--grey);
  border-color: var(--grey);
}

.color-picker {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#projects .color-btn {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;

  box-shadow: inset 0 0 0 2px white;
  border: 2px solid transparent;
  border-color: transparent;
  background-clip: padding-box;
}

#projects .color-btn.selected {
  border: 2px solid black;
}

#new-project-input-container {
  display: flex;
  gap: 10px;
}

#new-project-input-container > input[type="text"] {
  width: 75%;
}

#tasks {
  width: 75%;
}

#new-project-btn {
  margin-top: auto;
}

#task-list-header,
#projects-heading {
  font-size: 1.5rem;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px;
  list-style-type: none;
}

#task-list > li {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#task-list input {
  margin-right: 5px;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  background-color: transparent;
  display: inline-block;
  /* vertical-align: middle; */
  cursor: pointer;
  border-radius: 50%;
}

#task-list input[type="checkbox"]:checked {
  background-color: black;
}

#task-list input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  text-decoration-thickness: 0.25rem;
}

.task-main-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > div > p {
  font-size: 1rem;
}

.task-details {
  margin-top: 10px;
  font-size: 0.75rem;
  display: flex;
  gap: 20px;
}

.task-details > div {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.priority-indicator {
  font-weight: 700;
  color: white;
}

.priority-indicator.high {
  background-color: var(--red);
}

.priority-indicator.med {
  background-color: var(--gold);
}

.priority-indicator.low {
  background-color: var(--green);
}
